/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */
  --clr-almost-white: 0 0% 98%;
  --clr-medium-gray: 0 0% 41%;
  --clr-almost-black: 0 0% 8%;

  /* Font Sizes */
  --fs-mobile: 1rem;
  --fs-para: 1.125rem;

  /* Font Family */
  --ff-sans: 'Epilogue', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-mobile);
    color: hsl( var(--clr-almost-black) );
    background-color: hsl( var(--clr-almost-white) );
    /* line-height: 1.5; */
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    
    /* overflow-x: hidden; */
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 2.125rem;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility Classes     */
/* ------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* Colors */
.text-black { color: hsl( var(--clr-almost-black) );}
.text-gray { color: hsl( var(--clr-medium-gray) );}
.text-white { color: hsl( var(--clr-almost-white) );}

.bg-black { background-color: hsl( var(--clr-almost-black) ); }
.bg-white { background-color: hsl( var(--clr-almost-white) ); }

.text-medium { font-weight: 500; }
.text-bold { font-weight: 700; }

/* Typography */
.uppercase { text-transform: uppercase; }

.text-center { text-align: center; }
.text-left { text-align: left; }

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ------------------- */
/* Components          */
/* ------------------- */
.logo-list {
  align-items: center;
  justify-content: space-evenly;
}

.logo-list > img {
  /* width: 4.5rem; */
  max-height: 1rem;
}

main.grid {
  --gap: 2rem;
  grid-template-rows: min-content 1fr;
}

@media (min-width: 35em) {
  body {
    font-size: 1.125rem;
  }

  main.grid > *:first-child {
    grid-column: 2/3;
  }

  main.grid > *:last-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  main.grid {
    grid-template-columns: 1fr 1fr;
  }
}

header.flex {
  justify-content: space-between;
  position: relative;
}

.text-container {
  align-content: start;
  justify-items: center;
  margin-inline: 1.25rem;
}

.link-button {
  padding: 1rem 1.365rem;
  border-radius: 1rem;
  text-decoration: none;
}

.side-menu {
  position: fixed;
  inset: 0 0 0 30%;
  background-color: hsl( var(--clr-almost-white) );
}

.side-menu::before {
  content: "";
  background-color: hsl( var(--clr-almost-black) / 0.5);
}

.side-menu  li {
  list-style: none;
}

.menu-icon {
  z-index: 5;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
  background-color: hsl( var(--clr-almost-white) );
  background-image: url(./images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}